@tailwind base;
@tailwind utilities;
.cursor {
	box-shadow: 0px 0px 117px 22px rgba(0, 152, 212, 0.82);
	-webkit-box-shadow: 0px 0px 117px 22px rgba(0, 152, 212, 0.82);
	-moz-box-shadow: 0px 0px 117px 22px rgba(0, 152, 212, 0.82);
	@apply pointer-events-none fixed z-30 h-6 w-6  -translate-x-2/4 -translate-y-2/4 rounded-full bg-secondary lg:h-5 lg:w-5;
}
